/.web-server-pid
/var/SymfonyRequirements.php
/var/bootstrap.php.cache
/phpunit.xml
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
app/bootstrap.php.cache
/app/vendor/
mysql
.DS_Store
/app/var/